<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head> 
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Pi Sensor Services - Sensor List</title> 
  </head> 
  <body>
    <div>
      <p class="rootparam"><span class="labelname">Hostname: </span><span id="hoststring" class="labeledtext"></span></p>
      <p class="rootparam"><span class="labelname">Date: </span><span id="datestring" class="labeledtext"></span></p>
      <table id="sensortable" class="sensortable">
        <tr>
          <th>Sensor</th>
          <th>Name</th>
          <th>Type</th>
          <th>Type Description</th>
          <th>Value</th>
          <th>Units</th>
        </tr>
      </table>
    </div>
  </body>
</html>