{"listen_port" : 8443,
 "ssl_key" : "/home/pi/pi-sensor-service-cert/localhost.key",
 "ssl_cert" : "/home/pi/pi-sensor-service-cert/localhost.crt",
 "sensors" : { "SensorName" : {"sensor" : "temperature",
                               "type" : 1,
                               "location" : "28-############",
                               "unit" : "C",
                               "enabled" : 1}}}
